.btnContainer {
  display: block;
  margin-top: 10px;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  width: 195px;
}

.bn48 {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 17px;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: black;
  text-align: left;
  width: 195px;
  padding-bottom: 6px;
}

.bn48:hover {
  color: black;
  background-color: #CAF4F4;
  border-color: #CAF4F4;
}

.bn48:active {
  color: black;
  background-color: #CAF4F4;
  border-color: #CAF4F4;
}

.active {
  color: black;
  background-color: #CAF4F4;
  border-color: #CAF4F4;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  font-size: 17px;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: left;
  white-space: nowrap;
  width: 195px;
  padding-bottom: 6px;
}
